[submodule "Cradle"]
	path = FrozenOut/Assets/Plugins/Cradle
	url = https://github.com/daterre/Cradle.git
[submodule "FrozenOut/Assets/Plugins/Cradle"]
	path = FrozenOut/Assets/Plugins/Cradle
	url = https://github.com/daterre/Cradle.git
